/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";
dropzone>.dropzone.dz-wrapper .dz-message {
    min-height: 200px !important;
}

.modal-dialog .overlay {
    background-color: transparent !important;
}

.dropzone-homemodal>.modal-dialog>.modal-content {
    min-height: 900px;
}